.footer {
  background-color: #1b1b32;
  width: 100%;
  height: auto;
  padding: 1em;
}



.logo {
  font-size: 2rem;

}
/* 
.rights {

} 

.links {

}*/

.socialC {
  display: flex;
  width: 40%;
  justify-content: space-between;
  font-size: 1.5em;
}

.socialC a {
  color: #fff;
}

.socialC a:hover {
  color: rgba(255,255,255,0.5); 
}

